@charset "UTF-8";

.fgWhite {
	color: #FFFFFF !important;
}

.bgWhite {
	background: #FFFFFF !important;
}

.fgGreen {
	color: #006B38FF !important;
}

.bgGreen {
	background: #006B38FF !important;
}

.fgBlue {
	color: #143C87 !important;
}

.bgBlue {
	background: #143C87 !important;
}

.fgRed {
	color: #891A01 !important;
}

.bgRed {
	background: #891A01 !important;
}

.bglg {
	background:   #e644a1  !important;
}

.bglg1{
	background: linear-gradient(to bottom, #ea4ca0 30%,  #0008ff 60%)
}

.gradientLightBlue {
	background: linear-gradient(to bottom, #0066ff 0%, #6699ff 67%);
}

.gradientLightGreen {
	background: linear-gradient(to bottom, #33cc33 0%, #66ff66 67%);
}